<%= form_with(model: aeroplane) do |form| %>
  <% if aeroplane.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aeroplane.errors.count, "error") %> prohibited this aeroplane from being saved:</h2>

      <ul>
        <% aeroplane.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
